[class*="col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    background-color: #006CFA;
    border: 1px solid white;
}

[class*="col-"] .content {
    color: white;
}

.nested {
    width: 100%;
    padding: 1rem;
}

.nested .col-2,
.nested .col-6,
.nested .col-8 {
    background-color: #00E165;
    border: 1px solid #006CFA;
}